body {
  font-family: 'Raleway', sans-serif;
  background-color: #eee;
}

li {
  list-style-type: none;
}

.button {
  background-color: #555;
  border: none;
  color: white;
  padding: 6px 6px;
  margin: 3px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
